* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195));
  background-attachment: fixed;
  margin: 0;
  font-family: "poppins", sans-serif;
}

#form {
  width: 400px;
  margin: 20vh auto 0 auto;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 30px;
}

h1 {
  text-align: center;
  color: brown;
}

#form button {
  background-color: brown;
  color: white;
  border: 1px solid brown;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.input_group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  max-width: 500px;
  width: 90%;
}

.input_group input {
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid rgb(34, 193, 195);
}

.input_group input:focus {
  outline: 0;
}

.input_group .error {
  color: rgb(242, 18, 18);
  font-size: 16px;
  margin-top: 5px;
}

.input_group.success {
  border-color: #0cc477;
}

.input_group.error input {
  border-color: rgb(206, 67, 67);
}
.input_group img {
  width: 25px;
  cursor: pointer;
}
